<?xml version="1.0" encoding="utf-8"?>
<InstallerConfig>
  <!-- This section contains default settings to be used for all installs - these can be overridden -->
  <AppSettings>
    <Setting Name="WindowsScriptsFolder" Value="C:\Windows\Script"/>
    <Setting Name="FilePath" Value="S:\Tools"/>
  </AppSettings>
  <!-- This section contains settings used by individual pre/post scripts - these must be reviewed and set -->
  <ScriptConfigs>
	<Script Name="Verify-AdminGroup">
		<Param Name="Domain" Value="" />
		<Param Name="Group" Value="" />
	</Script>
	<Script Name="Check-AncillaryServices">
		<Param Name="Services" Value="" />
	</Script>
	<Script Name="Verify-MgmtServerAccess">
		<Param Name="Servers" Value="" />
	</Script>
	<Script Name="Resize-TempDB">
		<Param Name="MaxFileCount" Value="8" />
		<Param Name="MaxFileInitialSizeMB" Value="1024" />
		<Param Name="MaxFileGrowthSizeMB" Value="2048" />
		<Param Name="FileGrowthMB" Value="512" />
		<Param Name="CoreMultiplier" Value="1" />
	</Script>	
	<Script Name="Add-CMSRegistration">
		<Param Name="CMSServer" Value="" />
		<Param Name="CMSInstance" Value="" />
	</Script>
  </ScriptConfigs>
  <DataCenters>
    <!-- This section contains the list of valid data centers and their respective Auto-Install source locations-->
    <DataCenter Name="Data Center 1" Location="Location 1" FilePath="\\alfkidc-2\DataCenter1\AutoInstall\" />
    <DataCenter Name="Data Center 2" Location="Location 2" FilePath="\\alfkidc-2\DataCenter2\AutoInstall\" />
  </DataCenters>
  <SqlVersions>
    <Version Name="SQL2005">
      <!-- The name of the configuration template file-->
      <ConfigurationTemplate Name="Configuration_2005.ini" Category="Options" />
      <!-- The list of pre-defined product strings - this list can be added to and modified-->
      <ProductStrings>
        <ProductString Name="Default" Value="SQL_Engine,SQL_Data_Files,SQL_Replication,SQL_FullText,Client_Components,Connectivity,SQL_Tools90,SQLXML,Tools_Legacy" />
        <ProductString Name="DefaultPlusIS" Value="SQL_Engine,SQL_Data_Files,SQL_Replication,SQL_FullText,SQL_DTS,Client_Components,Connectivity,SQL_Tools90,SQL_WarehouseDevWorkbench,SQLXML,Tools_Legacy" />
        <ProductString Name="Minimal" Value="SQL_Engine,SQL_Data_Files,Client_Components,Connectivity,SQL_Tools90,SQLXML,Tools_Legacy" />
        <ProductString Name="Full" Value="" />
      </ProductStrings>
      <!-- The list of valid editions for this version of SQL server - the list contains the corresponding product key and
            folder name containing the installation binaries-->
      <Editions>
        <Edition Name="Standard32" Key="" FolderName="SQL2005\Standard\x86" />
        <Edition Name="Enterprise32" Key="" FolderName="SQL2005\Enterprise\x86" />
        <Edition Name="Standard64" Key="" FolderName="SQL2005\Standard\x64" />
        <Edition Name="Enterprise64" Key="" FolderName="SQL2005\Enterprise\x64" />
      </Editions>
      <!-- These are values that will be used instead of the current template value - The key must match the setting name-->
      <TemplateOverrides>
        <Setting Name="INSTALLSQLDATADIR" Value="H:\MSSQL.1\MSSQL\Data\" />
      </TemplateOverrides>      
    </Version>
    <Version Name="SQL2008">
      <ConfigurationTemplate Name="Configuration_2008.ini" Category="SQLSERVER2008" />
      <ProductStrings>
        <ProductString Name="Default" Value="SQLENGINE,REPLICATION,FULLTEXT,CONN,BC,SSMS,ADV_SSMS" />
        <ProductString Name="DefaultPlusIS" Value="SQLENGINE,REPLICATION,FULLTEXT,BIDS,CONN,IS,BC,SSMS,ADV_SSMS" />
        <ProductString Name="Minimal" Value="SQLENGINE,CONN,BC,SSMS,ADV_SSMS" />
        <ProductString Name="Full" Value="" />
      </ProductStrings>
      <Editions>
        <Edition Name="Standard" Key="" FolderName="SQL2008\Standard" />
        <Edition Name="Enterprise" Key="" FolderName="SQL2008\Enterprise" />
      </Editions>
      <TemplateOverrides>
        <Setting Name="SQLSYSADMINACCOUNTS" Value='"alfki\SQL_DBA" "alfki\SQL_Ops"' />
        <Setting Name="INSTALLSQLDATADIR" Value="C:\SystemDbs" />
        <Setting Name="SQLBACKUPDIR" Value="C:\Backups" />
        <Setting Name="SQLUSERDBDIR" Value="C:\Data" />
        <Setting Name="SQLUSERDBLOGDIR" Value="C:\Logs" />
      </TemplateOverrides>
    </Version>
      <Version Name="SQL2008R2">
      <ConfigurationTemplate Name="Configuration_2008R2.ini" Category="SQLSERVER2008" />
      <ProductStrings>
        <ProductString Name="Default" Value="SQLENGINE,REPLICATION,FULLTEXT,CONN,BC,SSMS,ADV_SSMS" />
        <ProductString Name="DefaultPlusIS" Value="SQLENGINE,REPLICATION,FULLTEXT,BIDS,CONN,IS,BC,SSMS,ADV_SSMS" />
        <ProductString Name="Minimal" Value="SQLENGINE,CONN,BC,SSMS,ADV_SSMS" />
        <ProductString Name="Full" Value="" />
      </ProductStrings>
      <Editions>
        <Edition Name="Standard" Key="" FolderName="SQL2008R2\Standard" />
        <Edition Name="Enterprise" Key="" FolderName="SQL2008R2\Enterprise" />
      </Editions>
        <TemplateOverrides>
          <Setting Name="SQLSYSADMINACCOUNTS" Value='"alfki\SQL_DBA" "alfki\SQL_Ops"' />
          <Setting Name="INSTALLSQLDATADIR" Value="C:\SystemDbs" />
          <Setting Name="SQLBACKUPDIR" Value="C:\Backups" />
          <Setting Name="SQLUSERDBDIR" Value="C:\Data" />
          <Setting Name="SQLUSERDBLOGDIR" Value="C:\Logs" />
        </TemplateOverrides>
    </Version>
  </SqlVersions>
</InstallerConfig>